.info
{
    display: inline;
    margin-left: auto;
    margin-right: auto;
    font-size: x-large;
    padding: 3px;
    justify-content: space-evenly;
}

.info a
{
    text-decoration: none;
    color: aliceblue;
    flex-grow: 1;
}

.info a:hover
{
  color:blueviolet;
  font-size: large;
}

body
{
    background-color:hsla(289, 51%, 33%, 0.2);
    margin: 0;
}

#navigationBar
{
    display: flex;
    background-color:tomato ;
    text-align: center;
    width: 100%;
}

h1
{
   text-align: center;
   color: black;
   font-family:Convergence;
   letter-spacing: 2px;
}

h2
{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: auto;
    color:chocolate ;
}

.Introduction
{
    display: flex;
    flex:100%;
}
#intro
{
   text-align: justify;
   font-size: x-large;
   max-width: 750px;
   flex:70%;
   margin-left: 80px;
}

#image
{
    margin: 4px;
    flex:30%;
}

#image img
{
    height: 350px;
    width: 310px;
    margin-left: 80px;
    margin-top: 20px;
}

#name:hover
{
  font-size: xx-large;
  font-weight: bold;
  color:tomato
}

#Education,#Projects,#Contacts
{
    display: block;
    color: black;
    font-size: x-large;
}

#Education address
{
    text-align: center;
}

@media (min-width:59px) and (max-width:685px)
{
    #navigationBar, .Introduction
    {
        flex-direction: column;
        flex-wrap: wrap;
    }

    #image img
    {
        margin-left: 2px;
    }

    #intro
    {
        margin: 2px;
    }
}

h4
{
    margin-left: 20px;
}

ul li
{
    color: blue;
}


@keyframes fall {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

#intro p, #intro h4 
{
    animation: fall 1s ease-out;
}